@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");
body {
  padding: 1rem;
  font-family: "Motnserrat", sans-serif;
  min-height: 100vh;
}

table {
  border-collapse: collapse;
  background-color: white;
  overflow: hidden;
  /* width: 500px; */
  border-radius: 10px;
}

th,
td {
  text-align: left;
  font-size: 12px;
  padding: 10px;
}

th {
  background-color: #7691ab;
  color: white;
}

#emmision_chart{
  width: 100%;
}

.btn {
  border: 1px solid black;
  outline: none;
  border-radius: 0.5rem;
  margin-top: 1.25rem;
  cursor: pointer;
  line-height: 2rem;
  font-family: inherit;
  font-size: inherit;
}

main{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

button{
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

svg{
  width: 100%;
  height: 16px;
}

.home_header {
  position: relative;
}

.signout-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px; /* Adjust the margin as needed for spacing */
  border: 2px solid rgb(87, 87, 225);
  color: black; /* Text color */
  background-color: white; /* Optional: Set the background color to white */
  padding: 5px 10px; /* Optional: Add some padding to the button */
  cursor: pointer; /* Optional: Add a pointer cursor on hover */
  border-radius: 10px; /* Adjust the value to control the roundness of the borders */

}

