@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");
body {
  /* padding: 1rem; */
  font-family: "Motnserrat", sans-serif;
  min-height: 100vh;
  position: relative;
}

table {
  border-collapse: collapse;
  background-color: white;
  overflow: hidden;
  /* width: 500px; */
  border-radius: 5px;
  box-shadow: 2px 0px 4px rgba(2, 2, 2, 0.2);
}

th,
td {
  text-align: left;
/*   font-size: 12px; */
  font-size: 0.9rem;
  padding: 10px;
}

th {
  background-color: #362F4B;
  border: 1px solid #362F4B;
  color: white;
}

#emmision_chart{
  width: 100%;
}

.btn {
  /* border: 1px solid black; */
  outline: none;
  /* border-radius: 0.5rem; */
  border-radius: 5px;
  margin-top: 1.25rem;
  cursor: pointer;
  /* line-height: 2rem; */
  line-height: 1.75;
  font-family: inherit;
  font-size: 0.9rem;
  background-color: #6944c5;
  box-shadow: 2px 0px 4px rgba(2, 2, 2, 0.2);
  border: 1px solid #6944c5;
  color: #fff;
  padding: 5px 10px;
}

main{
/*   max-width: 1000px; */
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

button{
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

svg{
  width: 100%;
  height: 16px;
}

input[type="text"], input[type="number"], select{
  display: inline-block;
  font-size: 12px;
  border: 1px solid #ccc;
  /* box-shadow: inset 0 1px 3px #ddd; */
  padding: 8px 10px;
  outline: none;
}

/* .home_header{
  display: grid;
  min-height: 100vh;
} */

.home_header h1{
  font-size: 5rem;
  align-self: center;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1000;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.signout-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px; /* Adjust the margin as needed for spacing */
  border: 2px solid rgb(87, 87, 225);
  color: black; /* Text color */
  background-color: white; /* Optional: Set the background color to white */
  padding: 5px 10px; /* Optional: Add some padding to the button */
  cursor: pointer; /* Optional: Add a pointer cursor on hover */
  border-radius: 10px; /* Adjust the value to control the roundness of the borders */

}

.homepage-content{
  height: 86vh;
} 

.home_header{
  text-align: center;
  padding: 25px 0;
  /* height: 86vh; */
}

.home_header h1{
  font-size: 2.5rem;
  line-height: 1.0;
  margin-bottom: 10px;
}

.home_header p{
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.75;
  margin-bottom: 25px;
}

.home_content{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.homepage-body{
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

.homepage-body .body-item{
  width: 50%;
}

.homepage-body .body-item.feature_img_div img{
  width: 100%;
}

.homepage-body .body-item.feature_list{
  text-align: left;
  padding: 0 25px;
}

.homepage-body .body-item.feature_list h2{
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;
  width: fit-content;
  color: #0D1954;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.homepage-body .body-item.feature_list h2:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: #2B3990;
  opacity: 30%;
  border-radius: 50px;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

.homepage-body .body-item.feature_list ul{
  list-style-type: none;
}

.homepage-body .body-item.feature_list ul li{
  color: #0D1954;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.65;
  margin-bottom: 10px;
  padding-left: 36px;
  position: relative;
}

.homepage-body .body-item.feature_list ul li:before{
  content: "\2713";
  font-size: 16px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0px;
  background: green;
  color: #fff;
  padding: 6px;
}

button.logoutButton{
  display: inline-block;
  background-color: transparent;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.0;
  color: #000;
  transition: 0.5s ease;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.quote-image-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-image-div .quote-div p{
  font-size: 1.125rem;
  font-weight: 500;
  font-style: italic;
  margin: 0;
  line-height: 1.5;
  text-align: left;
}

.initial{
  padding: 1rem;
}

.initial h3{
  font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.75;
    margin-bottom: 15px
}
.quote-image-div .quote-div{
  padding: 40px;
  width: 450px;
  position: relative;
  z-index: 1;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
  float: right;
  margin: -50px;
}

.content-table thead tr{
  background-color: #009879;
  color: #fff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  font-size: 1.0rem !important;
}

.content-table tbody tr{
  border-bottom:  1px solid #dddd;
}

.content-table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
  /* background-color: #ECF7E8; */
}

.content-table tbody tr:last-of-type{
  border-bottom: 2px solid #7691ab;
} 

/* Slider */
.slider{
  /* height: 500px; */
  position: relative;
  width: 100%px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 350px;
  display: flex;

}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 3s;
}

.slide img{
  width: 800px;
  height: 350px;
}

.manual-navigation{
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 20px;
  max-width: 800px;
  width: 100%;
}

.manual-btn{
  border: 3px solid #fa5396;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
  transition: 2s;
  cursor: pointer;
}

.manual-btn:hover{
  background: #fff;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

.auto-navigation div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .auto-navigation .auto-btn1{
  background-color: #fa5396;
}

#radio1:checked ~ .auto-navigation .auto-btn2{
  background-color: #fa5396;
}

#radio1:checked ~ .auto-navigation .auto-btn3{
  background-color: #fa5396;
}

#table1{
  width: 100%;
}

#table1 td, #table2 td{
  border: 1px solid #ddd;
}

#table1 button svg, #table2 button svg{
  color: red;
  height: 18px !important;
  stroke-width: 2px;
}

label.file{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#fileInput{
  min-width: 14rem;
  max-width: 14rem;
  margin: 0;
}

span.file-custom{
  position: absolute;
    top: -9px;
    right: 0;
    left: 0;
    z-index: 5;
    /* height: 2.5rem; */
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 0.075rem solid #ddd;
    border-radius: 0.25rem;
    box-shadow: inset 0 0.2rem 0.4rem rgba(0,0,0,.05);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.file-custom:before{
  position: absolute;
  top: -0.075rem;
  right: -0.075rem;
  bottom: -0.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  /* height: 2.5rem; */
  padding: 0.5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: 0.075rem solid #ddd;
  border-radius: 0 0.25rem 0.25rem 0;
}

/* span.file-custom:after {
  content: "Choose file...";
} */
