*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mainnav{
    background-color: #EDF2F2;
}

ul{
    list-style: none;
}

#mainnav .mainnav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

#mainnav .mainnav-content .link-div ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
#mainnav .mainnav-content .link-div ul li{
    margin: 0 5px;
}

#mainnav .mainnav-content .link-div ul li button{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid #1a7f37;
    color: #fff;
    background: #1a7f37;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    transition: 0.5s;
}

#mainnav .mainnav-content .link-div ul li button:hover{
    background-color: #fff;
    color: #1a7f37;
}

.popup .close-window{
    position: absolute;
    right: 6px;
    top: 0px;
    cursor: pointer;
}

.popup table tr td{
    /* display: inline-block; */
    padding-bottom: 15px;
    /* width: 100% */
} 

.popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* width: 600px; */
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.3);
    background-color: #EDF2F2;
    border: 1px solid #1a7f37;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.tableDiv{
    margin-bottom: 15px;
}

.popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
} 